$maxWidth: 1249;
@mixin adaptiv-font($pcSize, $mobSize) {
	 $addSize: $pcSize - $mobSize;
	 $maxWidth: $maxWidth - 320;
	 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));	 
}
*
{
	box-sizing: border-box;
}

.button
{
	display: inline-block;
	background-color: #ff2d2d;
	border-radius: 5px;
	font-family: 'Open Sans';
	@include adaptiv-font(18,12);
	line-height: 34px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #ffffff;
	text-decoration: none;	
}
.button:hover
{
	border: 2px solid #ff0000;
	color: #ff2d2d;
	background: none;
	transition: all .5s;
}
.hheader {
	width: 100%;
	background-color: #f6f2f2;
	height: auto;
	padding-top: 1.813rem;
	padding-bottom: 7.688rem;
}
.container {
	width: 79%;
	margin: 0 auto;
}
.nav {
	// margin-top: 1.813rem;
	opacity: 0.8;
	background-color: #000000;
	height:auto;

	margin-bottom: 6.75rem;
}
.nav ul
{
	display: flex;
	list-style-type: none;
	justify-content: center;
	
}
.nav ul li{
	@include adaptiv-font(14,10);
	padding: 0 1.714em;
	padding-top: 3.143em;
	padding-bottom:2.357em;
	margin-right: 20px;
}
.nav ul li a
{
	font-family: 'Open Sans';
	
	line-height: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.035em;
	color: #e0e0e0;	
	text-decoration: none;
}
.nav ul li:hover
{
	background-color: #ff3f40;
	cursor: pointer;
	transition: all .5s;
}

/****************************************
*****************Hello*****************
*******************************************/

.hello {
	overflow: hidden;
}

@media (min-width: 1300px)
{
	.hello__row {
	display: flex;
}
.hello__column {
	flex: 1 1;
	padding-right: 110px;
}
.hello__column:last-child
{
	padding: 0;
}
.show{
	display: none;
}

.hello__title 
{

	font-family: 'Open Sans';
	@include adaptiv-font(60,30);
	line-height: 72px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #000000;
}
.hello__span
{
	letter-spacing: 0.1em;
}
.hello__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 28px;
	font-weight: 400;
	color: #000000;
	padding-right: 25%;
	margin-top: 2rem;
	margin-bottom: 3.625rem;
}
.hello__button a
{
	padding: .5em 3em;
}

.hello__img img
{
	 object-fit: cover;
	// overflow: hidden;
	max-width: 100%;
	height: 100%;
}
.hello__img 
{
	height: 100%;
	flex: 0 0 50%;

}
}
@media (max-width: 1300px) {
	.hello__row {
	display: flex;
	flex-direction:column;
	align-items: center;
}
.hello__column 
{
	// margin-left: 12%;
	text-align: center;
}
.hello__column:last-child
{
	margin: 0;
}
.hello__button a
{
	margin-bottom: 2em;
}

}

.hello__column:last-child
{
	padding: 0;
}


.hello__title 
{

	font-family: 'Open Sans';
	@include adaptiv-font(60,30);
	line-height: 1.2em;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #000000;
}
.hello__span
{
	letter-spacing: 0.1em;
}
.hello__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	margin-top: 2rem;
	margin-bottom: 3.625rem;
}
.hello__button a
{
	padding: .5em 3em;
}

.hello__img img
{
	 object-fit: cover;
	// overflow: hidden;
	max-width: 100%;
	height: 100%;
}
.hello__img 
{
	height: 100%;
	flex: 0 0 50%;

}
/****************************************
***************learn-more***************
*******************************************/
.learn-more__row {

	display: flex;
	flex: 1 1;
	margin:0 -60px;
	margin-top: 7.125em;
}
.learn-more__column {
	padding:0 60px;
	flex:1 0 50%;
	
}


.learn-more__title {
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(42,25);
	line-height: 1.31em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
	margin-bottom: 3.125rem;
}
.learn-more__text {
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	margin-bottom: 3.625rem;
}
.learn-more__button a {
	padding: .5em 3.352rem;
}
.learn-more__button 
{
	margin-bottom: 14.375rem;
}

.info__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.info__column {
	flex: 0 1 50%;
	box-sizing: border-box;
	padding: 0 25px;
}
.info__img {
	margin-bottom: 1.875rem;
}
.info__title {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(24,13);
	line-height: 1.2;
	font-weight: 600;
	letter-spacing: 0.01em;
	color: #000000;
	margin-bottom: 1.063rem;
}
.info__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	margin-bottom: 3.063rem;
}
@media (max-width: 1000px) {
	.learn-more__row
	{
		flex-wrap: wrap;
		text-align: center;
	}
	.learn-more__column {
		flex: 0 0 100%;
		margin-bottom: -20%;
	}
	.learn-more__column:last-child
	{
		margin: 0;
	}	
}
/******************************************
*************feature-products*************
*******************************************/



.feature-products__row {
	display: flex;
	flex-direction: column;
	// align-items: center;
	// justify-content: center;
}
.feature-products__column {
	margin: 0 auto;
}
.feature-products__title
{
	margin-bottom: 2.125rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(42,27);
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
	margin-top: 6.625rem;
	text-align: center;
}
.feature-products__text {
	text-align: center;
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	
	padding: 0 10%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1.813rem;
}
.feature-products__underline {
	margin: 0 auto;
	width: 8.370vw;
	height: 3px;
	background-color: #ff2d2d;
	margin-bottom: 5.5rem;
	
}
.feature-products__nav {
	@include adaptiv-font(16,9);
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0 1.813em;
	margin-bottom: 4.125rem;
}
.feature-products__nav li
{
	padding: 0 1.813em;
	text-align: center;
}
.feature-products__nav li a
{
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(22,10);
	line-height: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
	text-decoration: none;
}
.feature-products__nav li a:hover
{
	color: #ff2d2d;
	transition: all .5s;
	opacity: 1;
}

.squares__row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: -5px -5px;
}
.squares__column {
	padding: 5px 5px;
	flex: 0 1 25%;
}
.squares__img img
{
	max-width: 100%;
	height: auto;
}
@media (max-width: 800px)
{
	.squares__column 
	{		
		flex: 0 1 50%;
	}

	// Бургер треба зробити
}
/******************************************
*************meet-our-team*************
*******************************************/

.meet-our-team__title
{
	margin-top: 8.625rem;
	margin-bottom: 2.125rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(42,27);
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
}
.meet-our-team__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height:1.75em;
	font-weight: 400;
	color: #000000;	
	// width: 38.906vw;
	padding-right: 55%;
	// text-align: center;
	margin-bottom: 1.813rem;
}
.meet-our-team__outline {

	width: 8.370vw;
	height: 3px;
	background-color: #ff2d2d;
	margin-bottom: 4.313rem;	
}
/******************************************
********************mark******************
*******************************************/
.mark__row {
	display: flex;
	@include adaptiv-font(16,12);
	margin: 0 -2.313em;	
}
.mark__column {
	padding: 0 2.313em;
}
.mark__img img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.mark__img 
{
	flex: 0 0 20.355%;
	height: 100%;
}
.mark-waugh__row 
{
	display: flex;
	flex-direction: column;
}

.mark-waugh__column {
}
.mark-waugh__title 
{
	margin-bottom: 2.188rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(30,15);
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
}
.mark-waugh__text 
{
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height:1.75em;
	font-weight: 400;
	color: #000000;
	margin-bottom: 2.75rem;
}
.mark-waugh__nav {
	display: flex;
	list-style-type: none;
	@include adaptiv-font(18,14);
	margin: 0 -0.833em;
	margin-bottom: 4.25rem;
	padding: 0;
}
.mark-waugh__nav li
{
	padding: 0 0.833em;
}
.mark-waugh__nav li a
{
	opacity: 0.8;
	font-family: 'Open Sans';
	
	line-height: 1.333rem;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.05em;
	color: #000000;
	text-decoration: none;
}
.mark-waugh__nav li a:hover
{
	text-decoration: underline;
}

.mark-images__row 
{
	display: flex;
	margin: 0 -0.625em;
}
.mark-images__column {
	flex: 1 1 25%;
	padding: 0 0.625em;
}
.mark-images__img img
{
	max-width: 100%;
}
/******************************************
********************form******************
*******************************************/
.form 
{
	width: 100%;
	background-color: #F5F0DD;
}
.form__row {
	margin-top: 6.875rem;
	display: flex;
	justify-content: center;
}
.form__column {
}
.form__title {
	margin-top: 7.778rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(42,18);
	line-height: 0.571em;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #394961;
}
.form__text {
	text-align: center;
	margin-top: 1.938rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height:1.75em;
	color: #394961;
	margin-bottom: 3.875rem;
}
.form-inp__row 
{
	display: flex;
	justify-content: center;
	@include adaptiv-font(16,12);
	margin: 0 -0.688em;
}
.form-inp__column
{
	padding: 0 0.688em;
}
.form-inp__column input 
{
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height:1.75em;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #2c2c2c;
	padding:  1.063em 0;
	padding-left: 2.25em;
	padding-right: 14.688em;
	margin-bottom: 8.75rem;
	border: none;
	border-radius: 5px;
}
.form-inp__button {
	font-family: 'Open Sans';
	@include adaptiv-font(18,14);
	line-height:2em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #ffffff;
	border: none;
	padding: .85em 2.222em;
}

/******************************************
*************get-in-touch*************
*******************************************/
.container-second
{
	width: 46%;
	margin: 0 44% 0 10%;
}
.get-in-touch__title
{
	margin-top: 8.625rem;
	margin-bottom: 2.125rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(42,27);
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
}
.get-in-touch__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height:1.75em;
	font-weight: 400;
	color: #000000;	
	// width: 38.906vw;
	margin-bottom: 1.813rem;
}
.get-in-touch__outline {

	width: 8.370vw;
	height: 3px;
	background-color: #ff2d2d;
	margin-bottom: 4.313rem;	
}
/******************************************
*************contact*************
*******************************************/
.contact {
	width: 90%;
	margin-left: 10%;
}
.contact__row {
	display: flex;
}
.contact__column {
}
.contact__columnfirst
{
	flex: 1 1 46%;
}
.second-form {
	::-webkit-input-placeholder { /* WebKit browsers */
		color:   #606060;
		@include adaptiv-font(16,12);
	 }
	 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:   #606060;
		@include adaptiv-font(16,12);
	 }
	 ::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #606060;
		@include adaptiv-font(16,12);
	 }
	 :-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #606060;
		@include adaptiv-font(16,12);
	 }
}
.second-form__row {
	display: flex;
	@include adaptiv-font(16,12);
	margin-right: 8%;
	flex-wrap: wrap;
}
.second-form__column {
	flex: 1 1 50%;
	box-sizing: border-box;
	margin-bottom: 2.875rem;
}

.second-form__column2 {
	flex: 1 1 100%;
}
.second-form__row input, .second-form__row textarea
{
	background-color: #e6e6e6;
	border: none;
	border-radius: 5px;
}

.second-form__input-text, .second-form__input-email{
	
	padding: 6.6% 0;
	padding-left: 2%;
    // padding-right: 42%;
	width: 95%;
	
}
.second-form__input-text
{
	margin-right: 5%;
}
.second-form__input-email {
	margin-left: 5%;
}
.second-form__textare {
	width: 100%;
	padding: 40px;
	resize: none;
}
.second-form__button {
	margin-top: 2.813rem;
	width: 100%;
	border: none;
	padding: .95em 0;
}

.contact__columnsecond
{
	background-color: #2d2d2d;
	flex: 1 1 36%;
}
.contact__info
{
	
}
.contact__tittle {
	margin-top: 9.063rem;
	margin-left: 4.938rem;
	margin-bottom: 2.563rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(18,14);
	line-height: 1.889em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #ffffff;
}
.contact__text, .contact__email, .contact__number {
	margin-left: 4.938rem;
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #ffffff;
}
.contact__text
{
	margin-bottom: 1.688rem;
}
.contact__email 
{
	margin-bottom: 2.063rem;
}
.contact__number
{
	margin-bottom: 9.125rem;
}

/******************************************
*************footer*************
*******************************************/

.footer {
	width: 100%;
	background-color: #313030;
	margin-top: 6.875rem;
}
.footer__row {
	display: flex;
	justify-content: space-between;
}
.footer__column {
}
.footer__text {
	margin-top: 3.563rem;
	margin-bottom: 2.313rem;
	font-family: 'Open Sans';
	@include adaptiv-font(16,12);
	line-height: 1.625em;
	font-weight: 400;
	color: #b8b8b8;
}
.footer-list {
	
	list-style-type: none;
	display: flex;
	@include adaptiv-font(16,12);
	margin: 0 -0.563em;
	margin-top: 3.563rem;
}
.footer-list li
{
	padding: 0 0.563em;
}


/******************************************
*************Media*************
*******************************************/
@media (max-width:1102px) 
{
	.contact__row
	{
		flex-wrap: wrap;
	}
	.contact__column
	{
		flex: 1 1 100%;
	}
	.contact__columnsecond
	{
		margin-right: 8%;
	}
	.second-form__button
	{
		margin-bottom: 2rem;
	}
}
@media (max-width:900px)
{
	.mark__row
	{
		flex-wrap: wrap;	
		
	}
	.mark__column
	{
		flex: 1 1 100%;
	}
	.mark__column-1
	{
		
		display: flex;
		margin-bottom: 2rem;
		// margin-left: 40%;
		// height: 60vh;
		// width: 100%;
		// width: 100vw;
	}
	.form__title{
		text-align: center;
		line-height: 30px
	}
	.mark__img
	{
		flex: 0 0 100%;		
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	.mark__img
	{
		height: 60vh;
		// width: 100vw;
		object-fit: cover;
	}
	.mark-waugh__column
	{
		text-align: center;
	}
	.mark-waugh__nav
	{
		justify-content: center;
	}
}
@media (max-width:776px) {

	.feature-products__column,.form-inp__row{
		width: 100%;
	}
}
@media (max-width:652px)
{
	.footer-list
	{
		display: none;
	}
	.footer__row
	{
		justify-content: center;
	}
}
@media (max-width:609px) 
{
	html
	{
		width: 609px;
	}	
	.feature-products__column,.form-inp__row{
		max-width: 610px;
	}
	.header{
		position: relative;
	}
	.nav{
		display: none;
	}
	.show {
		position: absolute;
		top: 10px;
		right: 15px;
		border: none;
		font-size: 30px;
		display: block;
        width: 30px;
        height: 20px;
        z-index:3 ;
		background:none;
	}
	.show span{
        position: absolute;
        background-color: aqua;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ;
    }
    .show:before,.show:after{
        content: '';
        background-color: aqua;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ;
    }
    .show:before{
        top: 0;
    }
    .show:after{
        bottom: 0;
    }
	.show.active:before{
        transform: rotate(405deg);
        top: 9px;
    }
    .show.active:after{
        transform: rotate(315deg);
        bottom: 9px;
    }
    .show.active span{
        transform: scale(0);
    }
    body.lock{
        overflow: hidden;
    }
	
	.flex{
		display: block;
		// flex-direction: column;
		width: 100%;
	}
	.flex ul{

		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.flex ul> li+li{
		border-top: 1px dashed #ccc;
	}
	.form__title{
		text-align: center;
		line-height: 30px
	}
	
}
@media (min-width:609px) {
	.show{
		display: none;
	}
}