$maxWidth: 1249;
@mixin adaptiv-font($pcSize, $mobSize) {
	 $addSize: $pcSize - $mobSize;
	 $maxWidth: $maxWidth - 320;
	 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));	 
}
*
{
	box-sizing: border-box;
}

.button
{
	display: inline-block;
	background-color: #ff2d2d;
	border-radius: 5px;
	font-family: 'Open Sans';
	@include adaptiv-font(18,12);
	line-height: 34px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #ffffff;
	text-decoration: none;
	
}
.button:hover
{
	border: 2px solid #ff0000;
	color: #ff2d2d;
	background: none;
	transition: all .5s;
}
.hheader {
	width: 100%;
	background-color: #f6f2f2;
	height: auto;
	padding-top: 1.813rem;
	padding-bottom: 7.688rem;
}
.container {
	width: 79%;
	margin: 0 auto;
}
.nav {
	// margin-top: 1.813rem;
	opacity: 0.8;
	background-color: #000000;
	height:auto;

	margin-bottom: 6.75rem;
}
.nav ul
{
	display: flex;
	list-style-type: none;
	justify-content: center;
	
}
.nav ul li{
	@include adaptiv-font(14,10);
	padding: 0 1.714em;
	padding-top: 3.143em;
	padding-bottom:2.357em;
	margin-right: 20px;
}
.nav ul li a
{
	font-family: 'Open Sans';
	
	line-height: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.035em;
	color: #e0e0e0;	
	text-decoration: none;
}
.nav ul li:hover
{
	background-color: #ff3f40;
	cursor: pointer;
	transition: all .5s;
}

/****************************************
*****************Hello*****************
*******************************************/

.hello {
	overflow: hidden;
}

@media (min-width: 1300px)
{
	.hello__row {
	display: flex;
}
.hello__column {
	flex: 1 1;
	padding-right: 110px;
}
.hello__column:last-child
{
	padding: 0;
}


.hello__title 
{

	font-family: 'Open Sans';
	@include adaptiv-font(60,30);
	line-height: 72px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #000000;
}
.hello__span
{
	letter-spacing: 0.1em;
}
.hello__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 28px;
	font-weight: 400;
	color: #000000;
	padding-right: 25%;
	margin-top: 2rem;
	margin-bottom: 3.625rem;
}
.hello__button a
{
	padding: .5em 3em;
}

.hello__img img
{
	 object-fit: cover;
	// overflow: hidden;
	max-width: 100%;
	height: 100%;
}
.hello__img 
{
	height: 100%;
	flex: 0 0 50%;

}
}
@media (max-width: 1300px) {
	.hello__row {
	display: flex;
	flex-direction:column;
	align-items: center;
}
.hello__column 
{
	// margin-left: 12%;
	text-align: center;
}
.hello__column:last-child
{
	margin: 0;
}
.hello__button a
{
	margin-bottom: 2em;
}

}

.hello__column:last-child
{
	padding: 0;
}


.hello__title 
{

	font-family: 'Open Sans';
	@include adaptiv-font(60,30);
	line-height: 1.2em;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #000000;
}
.hello__span
{
	letter-spacing: 0.1em;
}
.hello__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	margin-top: 2rem;
	margin-bottom: 3.625rem;
}
.hello__button a
{
	padding: .5em 3em;
}

.hello__img img
{
	 object-fit: cover;
	// overflow: hidden;
	max-width: 100%;
	height: 100%;
}
.hello__img 
{
	height: 100%;
	flex: 0 0 50%;

}
/****************************************
***************learn-more***************
*******************************************/
.learn-more__row {
	margin-top: 7.125rem;
	display: flex;
	flex: 1 1;
}
.learn-more__underline
{
	height: 2px;
	background-color: #ececec;
	margin-top: 6.75rem;
}
.learn-more__column {
	flex:1 0;
	width: 50%;
	padding-right: 10%;
}
.learn-more__column:last-child{
	width: auto;
	flex:1 1;
	padding: 0;
}

.learn-more__title {
	opacity: 0.8;
	font-family: 'Open Sans';
	@include adaptiv-font(42,25);
	line-height: 1.31em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000000;
	margin-bottom: 3.125rem;
}
.learn-more__text {
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	margin-bottom: 3.625rem;
}
.learn-more__button a {
	padding: .5em 3.352rem;
}
.learn-more__button 
{
	margin-bottom: 14.375rem;
}

.info__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.info__column {
	flex: 0 1 50%;
	box-sizing: border-box;
	padding: 0 25px;
}
.info__img {
	margin-bottom: 1.875rem;
}
.info__title {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(24,13);
	line-height: 1.2;
	font-weight: 600;
	letter-spacing: 0.01em;
	color: #000000;
	margin-bottom: 1.063rem;
}
.info__text {
	opacity: 0.7;
	font-family: 'Open Sans';
	@include adaptiv-font(16,10);
	line-height: 1.75em;
	font-weight: 400;
	color: #000000;
	margin-bottom: 3.063rem;
}